.contenedor__productos{
    max-width: 1080px;
    margin: 4rem 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;

    gap: 2rem;

    justify-content: space-between;
}
.contenedor__productos .card{
    width: 320px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: 
        "card__image"
        "card__texto"
        "card__boton"
    ; */
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem #cccccc;
    cursor: pointer;
}
.card__image{
    grid-area: card__image;
}
.card__texto{
    grid-area: card__texto;
}
.card__boton{
    grid-area: card__boton;
}

.contenedor__productos .card:hover{
    box-shadow: .5rem .5rem 1rem #7c7c7c;
}

.contenedor__productos .card .card__image{
    width: 280px;
    height: 280px;
    padding: 1rem;
}
.contenedor__productos .card .card__image img{
    width: calc(100% - 1rem);
}

.contenedor__productos .card .card__texto {
    width: 280px;
    padding: 1rem;
    font-family: "Roboto";
    color: black;
}

.contenedor__productos .card .card__texto h4{
    font-size: 1.5rem;
}

.contenedor__productos .card .card__texto p{
    font-size: 1rem;
    padding: .125rem;
}

.contenedor__productos .card .card__boton{
    width: 280px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenedor__productos .card .card__boton button {
    width: 10rem;
    height: 2.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: .25rem;
    background: linear-gradient(to right, #464646, #c7c7c7);    color: white;
    font-size: 1rem;
    box-shadow: 5px 5px 10px #4848487c;
    cursor: pointer;
}

.contenedor__productos .card .card__boton button:hover{
    box-shadow: none;
    background: linear-gradient(to left, #464646, #c7c7c7); 
}

@media screen and (max-width: 1200px){

    .contenedor__productos{    
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px){

    .contenedor__productos{    
        justify-content: center;
    }
}