/*selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedad2: valor;
}*/

/* Format */
* {
    margin: 0;
    padding: 0;
}

/* Modificar por Etiquetas o Tags */
h1 {
    color: blue;
    text-align: center;
}

body {
    color: brown;
}

h1 {
    color: #000764;
    font-family: "Roboto";
}

/* Ruta Generica para todos los "a" */
a {
    text-decoration: none;
}

/* Ruta especifica para los "li" dentro de la navegacion */
header nav ul a li {
    color: #ffffff;
    list-style: none;
    font-family: "Roboto";
    font-size: 1.2rem;
    /* display: inline-block;
    padding: 5px;
    margin: 5px; */
}

/* Modificar selectores por su ID */
#item_de_lista {
    color: blueviolet;
    list-style: square;
    font-size: 30px;
}



/* .texto_verde {
    color: green;
} */

/* Ruta especifica para los "h2.texto_verde" dentro de un div */
section div h2.texto_verde {
    font-size: 18px;
}

.parrafo_principal {
    font-size: 14px;
    text-align: justify;
    color: #013954;
    line-height: 18px;
    /* margin: 20px 10px; */
    /* 
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 15px; 
    */
    margin: 25px 15px 12px 8px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

/* Uso de BEM */
/* Modificar selectores por su Clase */
.bloque__imagenes__img {
    width: 80px;
    /*Ancho*/
    height: 80px;
    /*Alto*/
}

.bloque__imagenes__img--modified {
    /* width: 80%; */
    width: 5rem;
}

/* Box Model */

.caja {
    width: 6rem;
    height: 6rem;
    background-color: #ffff00;
    padding: 1rem;
    margin: 2rem;
    border: #013954 2px solid;
    border-radius: 15%;
    /* overflow: hidden;  */
    /*Si hay un Sobrante lo esconde*/
}

.caja__imagen {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.caja__productos {
    width: 20rem;
    height: 20rem;
    background-color: #ffff00;
    padding: 1rem;
    margin: 2rem;
    /* border: #013954 1rem solid; */
    border-top: #013954 1rem solid;
    border-bottom: #2a0154 1rem solid;
    border-right: #dc3f73 1rem solid;
    border-left: #d3e608 1rem solid;
    border-radius: 15%;
}

/* Display */

footer p {
    font-size: 24px;
    text-align: center;
}

table {
    margin: 2rem;
}

table,
th,
td {
    border: 1px solid #013954;
}

th,
td {
    padding: 5px;
}

.table__email {
    width: 20rem;
}

/* Flexbox */

.padre {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 80%;
    margin-left: 10%;
    margin-right: 10%; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.padre .hijos {
    width: 120px;
    height: 120px;
    background-color: #d6f654;
    border: 1px solid #013954;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 5%;
    /* Esto es para aliniear a los nietos */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.padre .hijos .nietos {
    width: 30px;
    height: 30px;
    background-color: #013954;
    margin: 10px;
    border-radius: 50%;
}

.border_radius {
    width: 200px;
    height: 200px;
    background-color: #21d900;
    border-radius: 50% 50% 0% 50%;
    margin: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor__img_texto {
    display: inline-block;
    position: relative;
}

.contenedor__img_texto img {
    width: 100%;
    height: auto;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(243, 231, 0);
    font-size: 50px;
    background-color: #0138541a;
}

.contenedor_boton {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.contenedor_boton .boton-degradado {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    padding: 1rem .25rem;
    background: linear-gradient(to right, #013954, #3cf0e4);
    color: white;
    font-size: 1rem;
    box-shadow: 5px 5px 20px #013954;
}

.contenedor_boton .boton-degradado:hover {
    background: linear-gradient(to left, #013954, #3cf0e4);
    box-shadow: none;
}

.contenedor-padre {
    display: flex;
    flex-wrap: wrap-reverse;
}

.hijos-flex {
    width: 100px;
    height: 100px;
    background-color: #2a0154;
    color: white;
    font-size: 2rem;
}

.contenedor_boton h4 {
    font-size: 4rem;
    font-family: "Roboto";
    font-weight: 900;
    text-shadow: 2px 2px 8px #272727;
}

.contenedor__form {
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor__form .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    border: 1px solid #013954;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px #01395458;
}

.contenedor__form .formulario .formulario-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__form .formulario .formulario-grupo label {
    margin-bottom: .5rem;
    color: #013954;
    font-family: "Roboto";
}

.contenedor__form .formulario .formulario-grupo select,
.contenedor__form .formulario .formulario-grupo input,
.contenedor__form .formulario .formulario-grupo textarea {
    border: none;
    background: #27272713;
    padding: .5rem;
    border-radius: .25rem;
    width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
}

.contenedor__form .formulario button {
    margin-top: 1rem;
    height: 3rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    padding: 1rem .25rem;
    background: linear-gradient(to right, #013954, #3cf0e4);
    color: white;
    font-size: 1rem;
    box-shadow: 5px 5px 10px #4848487c;
}

.contenedor__form .formulario button:hover {
    box-shadow: none;
    background: linear-gradient(to left, #013954, #3cf0e4);
}

.cheq{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    height: 1.2rem;
    margin-top: .5rem;
}
.cheq label {
    min-width: 6rem;
}
/* Clase 07 */


.nav {
    display: flex;
    padding: 0 2rem;
    background-color: #013954;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.nav ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: #013954;
    color: white;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

/* GRID */
/*
.container_grid{
    display: grid;
    grid-template-areas: 
        "titulo_grid titulo_grid titulo_grid titulo_grid"
        "content content content sidebar"
        "sidebar_izq extra_content extra_content sidebar"
        "sidebar_izq extra_content extra_content sidebar"
        "imagen_grid imagen_grid imagen_grid sidebar"
        "imagen_grid imagen_grid imagen_grid sidebar"
        "content_dos content_dos content_dos content_dos"
        "content_dos content_dos content_dos content_dos"
    ;
    gap: 1rem;
    padding: 1rem;
}

.titulo_grid{
    grid-area: titulo_grid;
}

.sidebar{
    grid-area: sidebar;
    background-color: #007b8b;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}
.sidebar_izq{
    grid-area: sidebar_izq;
    background-color: #5b2c7f;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}
.content{
    grid-area: content;
    background-color: #c8c8c8;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.extra_content{
    grid-area: extra_content;
    background-color: #77b0bf;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}
.content_dos{
    grid-area: content_dos;
    background-color: #01181f;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}
.imagen_grid{
    grid-area: imagen_grid;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}
.imagen_grid img{
    width: 100%;
}

*/

/* Grid Avanzado Clase 08 */


.container_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
    font-family: "Roboto";
}

.titulo_grid {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #5b2c7f;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.item2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #c8c8c8;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item3 {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    background-color: #007b8b;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.item4 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    color: #efef6b;
    background-color: #4a7f8e;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.item5 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.item5 img {
    width: 100%;
}

.item6 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: #01181f;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px #01395480;
}

.contacto {
    height: 100vh;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p,
.item5 p,
.item6 p {
    text-align: justify;
    margin: 1rem;
}

.card__image {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Pseudoclases */

/* Por ejemplo :hover */

/*

selector:pseudoclase {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}

*/

/* a:visited {
    color: #271039;
    background-color: #bc0101;
}
a:link{
    color: #21d900;
    background-color: #c9c0c0;
}
a:active{
    color: #ce0948;
    background-color: #403535;
} */

/*
.padre .hijo::nth-child(1){ Se aplican sobre el 1er Hijo
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}

*/

.contenedor__productos .card:nth-child(1){
    background-color: #000764;
}
.contenedor__productos .card:nth-child(2){
    background-color: #686eb9;
}
.contenedor__productos .card:nth-child(3){
    background-color: #7a09a7;
}
/* Responsive */

/*

320px — 480px: Dispositivos móviles
481px — 768px: iPads, Tabletas
769px — 1024px: pantallas pequeñas, laptops
1025px — 1200px: Computadoras de escritorio, pantallas grandes
1201px y más —  Pantallas extra-grandes, TV

*/

/* Para pantallas de un Ancho Superior a 1200px */
@media screen and (min-width: 1201px) {
    body {
        background-color: #ffffff;
        color: #000764;
    }
}


/* Para pantallas de un Ancho Inferior o igual a 1200px */


@media (max-width: 1200px) and (min-width: 1000px) {
    body{
        background-color: #000764;
    }
}

@media screen and (max-width: 1200px) {

    .nav,
    .footer {
        background-color: #2a0154;
    }

    .item1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-color: #271039;
    }

    .item2 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        background-color: #b4aeae;
    }
}


@media screen and (max-width: 1024px) {
    .container_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .item6 {
        grid-row: 6 / 7;
    }

    .item3 {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .item1 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        background-color: #271039;
    }

    .item5 {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }
}

@media screen and (max-width: 480px) {
    .container_grid {
        grid-template-columns: 1fr;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6 {
        grid-column: 1 / -1;
    }

    .item1 {
        grid-row: 3 / 5;
    }

    .item2 {
        grid-row: 2 / 3;
    }

    .item3 {
        grid-row: 5 / 7;
    }

    .item4 {
        grid-row: 7 / 11;
    }

    .item5 {
        grid-row: 11 / 13;
    }

    .item6 {
        grid-row: 13 / 15;
    }

    p {
        font-size: .8rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .titulo_grid {
        font-size: 1.8rem;
        padding: 1rem;
        height: 100px;
    }
}