
/*selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedad2: valor;
}*/

/* Format */
* {
    margin: 0;
    padding: 0;
}

/* Modificar por Etiquetas o Tags */
h1{
    color: blue;
    text-align: center;
}
body {
    color: brown;
}

h1{
    color: blueviolet
}
/* Ruta Generica para todos los "a" */
a{
    text-decoration: none;
}

/* Ruta especifica para los "li" dentro de la navegacion */
header nav ul a li{
    color: blue;
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

/* Modificar selectores por su ID */
#item_de_lista{
    color: blueviolet;
    list-style: square;
    font-size: 30px;
}



.texto_verde{
    color: green;
}
/* Ruta especifica para los "h2.texto_verde" dentro de un div */
section div h2.texto_verde {
    font-size: 18px;
}

.parrafo_principal{
    font-size: 14px;
    text-align: justify;
    color: #013954;
    line-height: 18px;
    /* margin: 20px 10px; */
    /* 
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 15px; 
    */
    margin: 25px 15px 12px 8px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

/* Uso de BEM */
/* Modificar selectores por su Clase */
.bloque__imagenes__img{
    width: 80px; /*Ancho*/
    height: 80px;/*Alto*/
}

.bloque__imagenes__img--modified{
    /* width: 80%; */
    width: 5rem;
}

/* Box Model */

.caja {
    width: 6rem;
    height: 6rem;
    background-color: #ffff00;
    padding: 1rem;
    margin: 2rem;
    border: #013954 2px solid;
    border-radius: 15%;
    /* overflow: hidden;  */ /*Si hay un Sobrante lo esconde*/
}
.caja__imagen{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.caja__productos{
    width: 20rem;
    height: 20rem;
    background-color: #ffff00;
    padding: 1rem;
    margin: 2rem;
    /* border: #013954 1rem solid; */
    border-top: #013954 1rem solid;
    border-bottom: #2a0154 1rem solid;
    border-right: #dc3f73 1rem solid;
    border-left: #d3e608 1rem solid;
    border-radius: 15%;
}

/* Display */

footer p{
    font-size: 24px;
    text-align: center;
}
table{
    margin: 2rem;
}
table, th, td {
    border: 1px solid #013954;
}

th, td {
    padding: 5px;
}

.table__email{
    width: 20rem;
}