/* Reseteo de Estilos */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

iframe {
    width: var(--extra-large);
    height: calc(var(--large) * 1.2);
    margin: var(--thirt-size);
}