@font-face {
    font-family: "Santino Regular";
    src: url("../../font/EduAUVICWANTHand-Regular.ttf");
}

@font-face {
    font-family: "Santino Bold";
    src: url("../../font/EduAUVICWANTHand-Bold.ttf");
}

@font-face {
    font-family: "Skylar";
    src: url("../../font/Skylar\ Sans\ Bold.otf");
}