/* Importaciones de archivos o módulos de CSS */
@import url('base/reset.css');
@import url('base/typography.css');
@import url('base/variables.css');

@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/modals.css');
@import url('components/cards.css');

@import url('layout/header.css');
@import url('layout/main.css');
@import url('layout/footer.css');

/* 
    Autor: Alejandro Daniel Di Stefano
    Version: v 1.0.0
    Año: 2024
*/